@model CritterMVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
        <div class="col-md-10" id="usernameLine">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", oninput="isNameTaken()", id="UserName" })
            <div id="isNameTaken"></div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

<script>
    $("#UserName").keyup(function () {
        var name = $("#UserName").val(); //Value entered in the text box
        var status = $("#isNameTaken"); //DIV object to display the status message
        var user = $.trim(name);
        if (user.length > 3) {
            status.html("Checking....") //While our Thread works, we will show some message to indicate the progress
            //jQuery AJAX Post request
            $.post("/Home/IsNameTaken", { username: name },
                        function (data) {
                            if (data == true) {
                                status.html("<font color=green>'<b>" + name + "</b>' is available!</font>");
                            } else {
                                status.html("<font color=red>'<b>" + name + "</b>' is not available!</font>");
                            }
                        });
        } else {
            status.html("Need more characters...");
        }
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
