@model CritterMVC.ViewModels.UserViewModel

<h2> @Html.DisplayFor(x => x.UserName) </h2>
<h3> @Html.DisplayNameFor(x => x.Email): @Html.DisplayFor(x => x.Email) </h3>
<hr/>
<img src="@Model.AvatarUrl" alt="Sorry no image for you..." width="200" />
<br /><br />
<hr />
    
<h3>@Html.DisplayNameFor(x => x.PostedCrits): @Model.PostedCrits.Count()</h3>
@Html.DisplayFor(x => x.PostedCrits)





