@model CritterMVC.ViewModels.UserViewModel
<h1>

    @Model.UserName
    <br/>
    @Model.Email
    <br/>
    @Model.FullName
    <br/>

</h1>
<img src="@Model.AvatarUrl" alt="Sorry no image for you..." width="200px"/>
<br />
<br />
<br/>
<h4>All crits ever posted: </h4>
<ul>
    @foreach (var crit in Model.PostedCrits)
    {
        <br/>
        <li><img src="@crit.Author.AvatarUrl" width="50" /> @crit.Text</li>
    }
</ul>

<h4>All crits ever received: </h4>
<ul>
    @foreach (var crit in Model.ReceivedCrits)
    {
        <br/>
        <li><img src="@crit.Author.AvatarUrl" width="50"/> @crit.Text</li>
    }
</ul>
<br />
<br />
<br />

  

