@model CritterMVC.ViewModels.UserViewModel
<h1>

    @Model.UserName
    <br/>
    @Model.Email
    <br/>
    @Model.FullName
    <br/>

</h1>
<img src="@Model.AvatarUrl" alt="Sorry no image for you..."/>
<br />
<br />
<br/>
<h4>All crits ever posted:</h4>
<ol>
    @foreach (var crit in Model.Crits)
    {
        <br/>
        <li>@crit.Text</li>
    }
</ol>
<br />
<br />
<br />

  

