@using CritterMVC.ViewModels
@model  IQueryable<CritterMVC.ViewModels.CritViewModel>

<br/><br/>
<h2>Latest Crits</h2>
<hr />

<strong>@Html.ActionLink("+Crit", "AddCrit", "Crits")</strong><br/><br />

@foreach (var crit in @Model)
    {
        <div class="crit">
            <div class="critText">
                <strong>&nbsp;@crit.Text</strong>
            </div>
            <div>
                <a href="@Url.Action("Info", "Users", new {username = @crit.Author.UserName})">
                    &nbsp;<img src="@Url.Content(@crit.Author.AvatarUrl)" alt="No avatar" width="50" img class="avatar"/>
                </a><br/>
                <strong style="color: ThreeDLightShadow">&nbsp;&nbsp;@crit.Author.UserName &nbsp;</strong>
                <p class="SentAt">&nbsp;Posted at: &nbsp;@crit.CreatedAt</p>
            </div>
        </div>
    }
