@using CritterMVC.ViewModels
@model  IQueryable<CritterMVC.ViewModels.CritViewModel>

<br/><br/>
<h2>Latest Crits</h2>
<hr />

<strong>@Html.ActionLink("+Crit", "AddCrit", "Crits")</strong><br/><br />

@foreach (var crit in @Model)
    {
        <div class="crit">
                <h4 class="critText">&nbsp;@crit.Text</h4>
                <a class="shit" href="@Url.Action("Info", "Users", new {username = @crit.Author.UserName})">
                    &nbsp;<img src="@Url.Content(@crit.Author.AvatarUrl)" alt="No avatar" width="50" img class="avatar"/>
                </a><br/>
                <strong class="critUserName">
                    &nbsp;&nbsp;@crit.Author.UserName&nbsp;
                </strong>
                <p class="SentAt">
                    &nbsp;Posted at: @crit.CreatedAt
                    <strong style="float: right; position: relative; right: 10px;"></strong>
                    <img
                        id="button"
                        onclick="AddVote(@crit.Id)"
                        src="https://cdn1.iconfinder.com/data/icons/significon/512/Significon-Like-128.png"
                        width="20"
                        class="likeBtn"
                    />

                    <div id="@crit.Id">
                        &nbsp;&nbsp;Likes: @crit.VotesCount
                    </div>
                </p>
        </div>
    }

<script>
    function AddVote(critId) {
       var id = critId; 
            //jQuery AJAX Post request
            $.post("/Home/AddVote/"+id,
                function (data) {
                    console.log(id);
                    $("#" + id).html("&nbsp;&nbsp;Likes: " + data);
                });
    };
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
